* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;
}
//resets-----------------
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

html {
  // body {
  scroll-behavior: smooth;
}
//resets_______________________________________

header {
  position: sticky;
  top: 0;
}
.nav-menu {
  display: flex;
  gap: 0.5em;
  a {
    display: inline-block;
    text-transform: capitalize;
    padding: 1em;
    transform: translateX(var(--x, 0)) translateY(var(--y, 0));
    transition: 300ms;
    will-change: transform;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  outline-offset: 0.5em;
  max-width: fit-content;
  margin: auto;
  gap: 1em;
  border-radius: 21em;
  border: 2px solid wheat;
  padding: 0.5em;
  .logo {
    $s: 2em;
    height: $s;
    width: $s;
    background-color: blue;
    border-radius: inherit;
    display: inline-grid;
    place-items: center;
  }
  .nav-wrapper {
    position: relative;
    $h: 2em;
    height: $h;
    overflow: hidden;
    transition: 0.3s;
    .mini-nav,
    .nav {
      height: $h;
      align-items: center;
      display: flex;
      padding: 0.8em;
      transition: 300ms;
    }
    .mini-nav {
      background: red;
      width: max-content;
      padding-inline: 2em;
      border-radius: 1em;
    }
    .nav {
      white-space: nowrap;
      position: relative;
      bottom: 100%;
      position: relative;
      margin: auto;
    }
  }
}

section {
  padding: 1em;
  height: 100vh;
  border: 2px solid white;
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
}
